body {
    background-color: #1b1d03;
    color: #949102;
}

#piada {
    position: absolute;
    width: 60%;
    align-self: center;
    border: solid 0.1em #ffffff52;
    font-size: 1em;
    text-align: center;
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 7%;
    border-image: linear-gradient(to right, #fa5c00, #ffd000, #00ff0d, #0145ff) 1;
    border-image-slice: 1;
}

.nav {
    background-color: #323604;
}

li a:hover:before {
    background-color: #949102;
}

h1 {
    margin-top: 2%;
    margin-bottom: 0;
    letter-spacing: 2px;
}

h2 {
    margin-bottom: 2%;
    color: #eedc77;
}

#casas {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1% auto;
    margin-top: 16%;
}

#cards {
    display: flex;
    justify-content: space-between;
    margin-left: 2%;
    margin-right: 2%;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    font-size: 14px;
    border: solid 0.1em #ffffff52;
    width: 30%;
    padding: 15px;
    transition: transform 0.3s;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 1%;
    border-image: linear-gradient(to right top, #29246e, #ffffff) 1;
    border-image-slice: 1;
}

.card h2 {
    margin: 0;
    padding: 0;
    font-size: 25px;
    color: #d4c257;
}

.card h3 {
    margin: 5px 0;
    font-size: 15px;
    color: #eedc77;
}

.card p {
    color: #ffffba;
    margin: 0;
}

.card:hover {
    transform: scale(1.05);
}

.imgf {
    width: 50%;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 6%;
}